.alert-blue{
  padding: 15px;
  background-color: $blue-bg;
  border-radius: 10px;
  color: darken($blue-bg, 60%);
  font-weight: normal;
}
.alert-yellow{
  padding: 15px;
  background-color: $yellow-bg;
  border-radius: 10px;
  color: darken($yellow-bg, 60%);
  font-weight: normal;
}

.alert-green{
  padding: 15px;
  background-color: $green-bg;
  border-radius: 10px;
  color: darken($green-bg, 60%);
  font-weight: normal;
}

.alert-red{
  padding: 15px;
  background-color: $red-bg;
  border-radius: 10px;
  color: darken($red-bg, 60%);
  font-weight: normal;
}
