.card{
  padding: 10px;
  min-height: 50px;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 10px;
}
.pretty-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .row [class*="col-"] {
  float: inside;
}

.card-title{
  margin: 0;
  font-size: 22px;
  border-bottom: 1px solid $gray;
}

.card-body{
  padding: 5px;
}
