.nv-select{
  position: relative;
}

.nv-select select{
  display: none;
}

.round .select-selected{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: $darkc transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent $darkc transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: #313131;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-color: transparent transparent #ddd transparent;
  cursor: pointer;
}


.select-items {
  position: absolute;
  background-color: $light;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: lighten($primary, 50);
}
