[class*="col-"] {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding: 10px;
  float: left;
}

.row{
  width: 100%;
  position: relative;
  float: left;
}

.col-12{
  width: 100%;
  position: relative;
  min-height: 1px;
  padding: 10px;
  float: left;
}

.col-6{
  width: 50%;
  position: relative;
  min-height: 1px;
  padding: 10px;
  float: left;
}

.col-4{
  width: 33.33333333%;
  position: relative;
  min-height: 1px;
  padding: 10px;
  float: left;
}
.col-3{
  width: 25%;
  position: relative;
  min-height: 1px;
  padding: 10px;
  float: left;
}
.col-8{
  width: 66.66666667%;
  position: relative;
  min-height: 1px;
  padding: 10px;
  float: left;
}

.col-2{
  width: 16.66666667%;
  position: relative;
  min-height: 1px;
  padding: 10px;
  float: left;
}

.col-1{
  width: 8.33333333%;
  position: relative;
  min-height: 1px;
  padding: 10px;
  float: left;
}

/* Extra small devices (xss, 600px and down) */
@media only screen and (max-width: 600px) {
  .col-xs-12{
    width: 100%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-xs-6{
    width: 50%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-xs-4{
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }
  .col-xs-3{
    width: 25%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }
  .col-xs-8{
    width: 66.66666667%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-xs-2{
    width: 16.66666667%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-xs-1{
    width: 8.33333333%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }
}

/* Small devices (sms and large xss, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-sm-12{
    width: 100%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-sm-6{
    width: 50%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-sm-4{
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }
  .col-sm-3{
    width: 25%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }
  .col-sm-8{
    width: 66.66666667%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-sm-2{
    width: 16.66666667%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-sm-1{
    width: 8.33333333%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }
}

/* Medium devices (mds, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-md-12{
    width: 100%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-md-6{
    width: 50%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-md-4{
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }
  .col-md-3{
    width: 25%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }
  .col-md-8{
    width: 66.66666667%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-md-2{
    width: 16.66666667%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-md-1{
    width: 8.33333333%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-lg-12{
    width: 100%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-lg-6{
    width: 50%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-lg-4{
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }
  .col-lg-3{
    width: 25%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }
  .col-lg-8{
    width: 66.66666667%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-lg-2{
    width: 16.66666667%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-lg-1{
    width: 8.33333333%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-xl-12{
    width: 100%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-xl-6{
    width: 50%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-xl-4{
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }
  .col-xl-3{
    width: 25%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }
  .col-xl-8{
    width: 66.66666667%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-xl-2{
    width: 16.66666667%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }

  .col-xl-1{
    width: 8.33333333%;
    position: relative;
    min-height: 1px;
    padding: 10px;
    float: left;
  }
}

