* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  position: relative;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: $black;
  background-color: $light;
  margin: 0;
}

p{
  margin: 0 0 10px;
}


.invert{
  -ms-filter: invert(100%);
  filter: invert(100%);
}

.primary{
  background-color: $primary !important;
  color: $light !important;
}

.secondary{
  background-color: $secondary !important;
  color: $light !important;
}
.danger{
  background-color: $danger;
  color: $light;
}
.dark{
  background-color: $darkc;
  color: $light;
}

.center{
  text-align: center;
}
.left{
  float: left !important;
}
.text-left{
  text-align: left !important;
}
.right{
  float: right !important;
}
.text-right{
  text-align: right !important;
}
.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.text-shadow{
  text-shadow: 2px 2px 8px rgba(0,0,0,.2);
}

.main-title{
  font-size: 1.75rem;
  font-weight: initial;
  margin-bottom: 10px;
}

.border-1{
  border: 1px solid $gray;
}

.mb-5{
  margin-bottom: 5px;
}

.mb-10{
  margin-bottom: 10px;
}

.mb-15{
  margin-bottom: 15px;
}

.badge{
  font-weight: bolder;
  padding: 5px;
  background-color: $gray;
  border-radius: 14px;
  color: invert($gray)
}

@media only screen and (max-width: 600px) {
  .container{
    width: 100%;
  }
}

/* Medium devices (mds, 768px and up) */
@media only screen and (min-width: 768px) {
  .container{
    width: 750px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container{
    width: 970px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container{
    width: 1170px;
  }
}
