.input{
  width: 100%;
  height: 46px;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition: .3s;
}

.input-sm{
  width: 100%;
  height: 30px;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition: .3s;
}

.input-lg{
  width: 100%;
  height: 46px;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition: .3s;
}

.round{
  border-radius: 20px;
  border: 2px solid #ddd;
}

.pretty-input:focus{
  text-decoration: none;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
