.navbar{
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
  background-color: $default;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $default;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: $darkc;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active)  {
  background-color: $secondary;
  color: invert($black);
}

.navbar li a.active {
  color: white;
  background-color: $primary;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
