$primary: #07c;
$secondary: rgb(253, 180, 23);
$darkc: rgb(47, 47, 47);
$black: black;
$light: white;
$danger: rgb(216, 0, 0);
$gray: #ddd;
$default: #f3f3f3;
$blue-bg: #cce5ff;
$yellow-bg: #fff3cd;
$green-bg: #d4edda;
$red-bg: #f8d7da;
$select-item: aliceblue;
